@model dynamic

@{
    ViewBag.Title = "Scores";
}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>

<h2>Score Charts</h2>

<div id="score" style="width:100%; height:400px;"></div>

@*<script src="~/Content/Data/Sample.js"></script>*@
<script>
    
    var initChart = function(match, snapshotData) {
        var redPP = [];
        var greenPP = [];
        var bluePP = [];
        var red = [];
        var green = [];
        var blue = [];

        snapshotData.forEach(function(item) {
            var time = Date.parse(item.Timestamp);
            redPP.push([time, item.Scores.RedPotentialPoints]);
            greenPP.push([time, item.Scores.GreenPotentialPoints]);
            bluePP.push([time, item.Scores.BluePotentialPoints]);

            red.push([time, item.Scores.RedScore]);
            green.push([time, item.Scores.GreenScore]);
            blue.push([time, item.Scores.BlueScore]);
        });

        $('#score').highcharts({
            chart: {
                type: 'spline'
            },
            title: {
                text: match.RedWorldName+' vs ' +match.GreenWorldName+' vs '+match.BlueWorldName
            },
            subtitle: {
                text: new Date(match.StartTime).toDateString()+' - '+new Date(match.EndTime).toDateString()
            },
            xAxis: {
                type: 'datetime',
                title: {
                    text: 'Date / Time'
                }
            },
            yAxis: {
                title: {
                    text: 'Potential Points'
                },
                min: 0
            },
            tooltip: {
                headerFormat: '<b>{series.name}</b><br>',
                pointFormat: '{point.x:%Y-%m-%d %H:%M}: {point.y:.2f}'
            },

            series: [
                {
                    name: match.RedWorldName,
                    data: red,
                    color: '#FF0000'
                },
                {
                    name: match.GreenWorldName,
                    data: green,
                    color: '#00FF00'
                },
                {
                    name: match.BlueWorldName,
                    data: blue,
                    color: '#0000FF'
                }
            ]
        });
    }

    $(function () {
        var match = {
            "MatchHistoryId": "2-9_14-12-19",
            "MatchId": "2-9",
            "RedWorldId": 2006,
            "GreenWorldId": 2011,
            "BlueWorldId": 2004,
            "RedWorldName": "Underworld",
            "GreenWorldName": "Vabbi",
            "BlueWorldName": "Blacktide",
            "StartTime": "2014-12-20T02:00:00+08:00",
            "EndTime": "2014-12-27T02:00:00+08:00"
        };

        var url = 'http://wvlytics.local/api/Score/'+match.MatchHistoryId;

        $.getJSON(url, function(snapshotData) {
            initChart(match, snapshotData);
        });


        
    });
</script>