@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using Wvlytics.Model
@model IEnumerable<Wvlytics.Model.MatchHistory>

@{
    ViewBag.Title = "Scores";
}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
@*<script src="http://code.highcharts.com/highcharts.js"></script>*@
<script src="http://code.highcharts.com/stock/highstock.js"></script>

<h2>GW2 WvW Match History</h2>
   
Select a Match: <input type="hidden" id="matches" style="width:800px"/>
<button id="refresh" name="Refresh">Refresh</button>
   
<h3>Score</h3>
<div id="score" style="width:100%; height:400px;"></div>
<h3>Potential Points</h3>
<div id="pp" style="width:100%; height:400px;"></div>
<h3>Kills (Total)</h3>
<div id="killsTotal" style="width:100%; height:400px;"></div>
<h3>Kills (Delta)</h3>
<div id="killsDelta" style="width:100%; height:400px;"></div>


<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2.min.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2.min.js"></script>
    
    
@functions
{

    public static JObject History(MatchHistory m)
    {
        var obj = JObject.FromObject(m);
        obj["id"] = m.MatchHistoryId;
        obj["text"] = m.StartTime.ToString("yyyy-MM-dd") +" - "+ m.EndTime.ToString("yyyy-MM-dd")
                + " : " +
                m.RedWorldName + " vs " + m.GreenWorldName + " vs " + m.BlueWorldName;
        return obj;
    }
}    

<script>
    matches = @Html.Raw(JsonConvert.SerializeObject(Model.Select(History)))
</script>
<script>
    
    var initChart = function(match, snapshotData) {
        var redPP = [];
        var greenPP = [];
        var bluePP = [];
        var red = [];
        var green = [];
        var blue = [];
        var redKills = [];
        var greenKills = [];
        var blueKills = [];

        var redKillsTotal = [];
        var greenKillsTotal = [];
        var blueKillsTotal = [];

        var redKill = 0;
        var greenKill = 0;
        var blueKill = 0;

        snapshotData.forEach(function(item) {
            var time = Date.parse(item.Timestamp);
            redPP.push([time, item.RedPotentialPoints]);
            greenPP.push([time, item.GreenPotentialPoints]);
            bluePP.push([time, item.BluePotentialPoints]);

            red.push([time, item.RedScore]);
            green.push([time, item.GreenScore]);
            blue.push([time, item.BlueScore]);

            redKill += item.RedKills;
            greenKill += item.GreenKills;
            blueKill += item.BlueKills;
            
            redKills.push([time, item.RedKills]);
            greenKills.push([time, item.GreenKills]);
            blueKills.push([time, item.BlueKills]);

            redKillsTotal.push([time, redKill]);
            greenKillsTotal.push([time, greenKill]);
            blueKillsTotal.push([time, blueKill]);
        });

        var rangeSelector = {
            buttons: [
                {
                    type: 'hour',
                    count: 1,
                    text: '1h'
                },
                {
                    type: 'hour',
                    count: 6,
                    text: '6h'
                },
                {
                    type: 'hour',
                    count: 12,
                    text: '12h'
                },
                {
                    type: 'day',
                    count: 1,
                    text: '1d'
                },
                {
                    type: 'day',
                    count: 3,
                    text: '3d'
                },
                {
                    type: 'all',
                    text: 'All'
                }
            ]
        };

        $('#score').highcharts('StockChart',{
            rangeSelector: rangeSelector,
            title: {
                text: match.RedWorldName+' vs ' +match.GreenWorldName+' vs '+match.BlueWorldName
            },
            subtitle: {
                text: new Date(match.StartTime).toDateString()+' - '+new Date(match.EndTime).toDateString()
            },
            xAxis: {
                type: 'datetime',
                title: {
                    text: 'Date / Time'
                }
            },
            yAxis: {
                title: {
                    text: 'Points'
                },
                min: 0
            },
            series: [
                {
                    name: match.RedWorldName,
                    data: red,
                    color: '#FF0000'
                },
                {
                    name: match.GreenWorldName,
                    data: green,
                    color: '#00FF00'
                },
                {
                    name: match.BlueWorldName,
                    data: blue,
                    color: '#0000FF'
                }
            ]
        });


        $('#pp').highcharts('StockChart',{
            rangeSelector: rangeSelector,
            title: {
                text: match.RedWorldName+' vs ' +match.GreenWorldName+' vs '+match.BlueWorldName
            },
            subtitle: {
                text: new Date(match.StartTime).toDateString()+' - '+new Date(match.EndTime).toDateString()
            },
            xAxis: {
                type: 'datetime',
                title: {
                    text: 'Date / Time'
                }
            },
            yAxis: {
                title: {
                    text: 'Potential Points'
                },
                min: 0
            },
            series: [
                {
                    name: match.RedWorldName,
                    data: redPP,
                    color: '#FF0000'
                },
                {
                    name: match.GreenWorldName,
                    data: greenPP,
                    color: '#00FF00'
                },
                {
                    name: match.BlueWorldName,
                    data: bluePP,
                    color: '#0000FF'
                }
            ]
        });

        $('#killsTotal').highcharts('StockChart', {
            rangeSelector: rangeSelector,
            title: {
                text: match.RedWorldName + ' vs ' + match.GreenWorldName + ' vs ' + match.BlueWorldName
            },
            subtitle: {
                text: new Date(match.StartTime).toDateString() + ' - ' + new Date(match.EndTime).toDateString()
            },
            xAxis: {
                type: 'datetime',
                title: {
                    text: 'Date / Time'
                }
            },
            yAxis: {
                title: {
                    text: 'Total Kills'
                },
                min: 0
            },
            series: [
            {
                name: match.RedWorldName,
                data: redKillsTotal,
                color: '#FF0000'
            },
            {
                name: match.GreenWorldName,
                data: greenKillsTotal,
                color: '#00FF00'
            },
            {
                name: match.BlueWorldName,
                data: blueKillsTotal,
                    color: '#0000FF'
                }
            ]
        });

        $('#killsDelta').highcharts('StockChart',{
            rangeSelector: rangeSelector,
            title: {
                text: match.RedWorldName+' vs ' +match.GreenWorldName+' vs '+match.BlueWorldName
            },
            subtitle: {
                text: new Date(match.StartTime).toDateString()+' - '+new Date(match.EndTime).toDateString()
            },
            xAxis: {
                type: 'datetime',
                title: {
                    text: 'Date / Time'
                }
            },
            yAxis: {
                title: {
                    text: 'Kills / min'
                },
                min: 0
            },
            series: [
                {
                    name: match.RedWorldName,
                    data: redKills,
                    color: '#FF0000'
                },
                {
                    name: match.GreenWorldName,
                    data: greenKills,
                    color: '#00FF00'
                },
                {
                    name: match.BlueWorldName,
                    data: blueKills,
                    color: '#0000FF'
                }
            ]
        });
    }

    loadMatch = function(matchId) {
        var match = $.grep(matches, function(m) { return m.MatchHistoryId == matchId; })[0];
        var routeTemplate = '@Url.RouteUrl("DefaultApi",new {id="[id]",controller="Score", httproute=""})';
        var url = routeTemplate.replace('[id]', match.MatchHistoryId);

        $.getJSON(url, function(snapshotData) {
            initChart(match, snapshotData);
        });
    }

    $(function () {
        $('#matches').select2({
            data: matches
        });

        $('#matches').on('change', function(e) {
            loadMatch(e.val);
        });
        $('#refresh').on('click', function(e) {
            loadMatch($('#matches').val());
        });

    });
</script>