@model System.Collections.Generic.IEnumerable<Wvlytics.Model.ObjectiveHistory>

@{
    ViewBag.Title = "Objective History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Objective History</h2>
    
<style>
    .objective {
        width: 100%;
        background-color: black;
        font-size:0;
    }
    .owner {
        height: 80px;
        display: inline-block;
        
    }
    .Red {
        background-color: #cc0000;
    }
    .Green {
        background-color: #669900;
    }
    .Blue {
        background-color: #0085CC;
    }
    .Neutral {
        background-color: #bbbbbb;
    }
</style>    

@foreach (var objective in Model)
{
    <h3>@objective.Name</h3>
    <div id="@objective.Id" class="objective">
        @foreach (var bar in objective.GetObjectiveBars())
        {
            <div class="owner @bar.Owner" style="width:@(Math.Floor(bar.Percent*1000000)/10000)%">
            </div>
        }
    </div>
}